.field {
    height: 600px;
    width: 600px;
    background: cadetblue;
    float: right;
    position: relative;
    top: -26em;
    margin: 1em;
    
}
#shapeinfo {
    border: 2px solid black;
    display: block;
    width: 200px;
    float: right;
    top: -26em;
    padding: 5px;
}

.square {
	background: red;
    position: absolute;
}

.rectangle {
	background: green;
    position: absolute;
}

.circle {
	background: purple;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    position: absolute;
}

.triangle {
	height: 0;
    width: 0;
    position: absolute;
}

button {
    width: 6em;
    height: 3em;
    padding: 1em;
    display: block;
    margin: 5px;
}